@using EindwerkCarParkingCore.Models
@model IEnumerable<ParkingsDTO>
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

<h1>Parkings</h1>
@foreach (ParkingsDTO b in Model)
{
    <div class="col-md-3">
        <div class=" well well-lg">
            <h4>Parking: </h4>
            <ul>
                @*<li>Naam: @b.ParkingNaam</li>
                <li>locatie: @b.GemeenteGemeenteNaam</li>*@
                
                <li>
                    <b><a href="#" data-id="@b.Id" class="bookTitle">@b.ParkingNaam</a></b><i>@b.Id</i><i>@b.GemeenteGemeenteNaam</i>
                </li>

            </ul>
        </div>
    </div>
}
